services:
  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=employees_db
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"   # host:container

  app:
    build: .
    ports:
      - "8081:80"     # host:container -> Apache listens on 80, host uses 8081
    volumes:
      - .:/var/www/html
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=employees_db
      - DB_USERNAME=root
      - DB_PASSWORD=root
    depends_on:
      - mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - "8080:80"     # host:container -> phpMyAdmin runs on port 80 inside container
    environment:
      - PMA_HOST=mysql
      - PMA_PORT=3306
      - PMA_USER=root
      - PMA_PASSWORD=root
    depends_on:
      - mysql

volumes:
  mysql_data:
